{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assests/css/home.css">
<link rel="stylesheet" type="text/css" href="/assests/css/product.css">
{{/section}}

{{#section 'title'}}
    Trang chủ
{{/section}}


<div class="row">
	<span><b>Sắp xếp theo thời gian:</b> </span>
	<button id="incBtn" type="button" class="btn btn-default">Tăng dần</button>
	<button id="decBtn" type="button" class="btn btn-default">Giảm dần</button>
	
</div>
<nav aria-label="Page navigation">
        <ul class="pagination">
            {{#if showPrevPage}}
                <li>

                    <a id="pagePre" href="javascript:;" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {{/if}}
            {{#each pages }}
                {{#if isActive }}
                    <li class="active">
                        <a>{{pageValue}}</a>
                    </li>
                {{else}}
                    <li>
                        <a id="pageValue" href="javascript:;" val={{pageValue}} >{{pageValue}}</a>
                    </li>
                {{/if}}
            {{/each}}
            {{#if showNextPage }}
                <li>
                    <a id="pageNext" href="javascript:;" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {{/if}}
        </ul>
    </nav>

<div class="row">

    {{#each products}}
				<div class="col-md-3">
				    <div class="thumbnail">
						{{#if daketthuc}}
						
				        <a href="{{maphien}}-{{masp}}">
						{{else}}
						
				        <a href="{{maphien}};{{masp}}">
						{{/if}}
				            <img id="daidien" src="{{urlhinhanh}}" alt="..." class="imgresponsive">
				        </a>
				        <div class="productprice">
				            <div class="producttitle">{{tensp}}</div>
				            <div class="guestnumber">Bids: {{soluotdau}}</div>
				            <div class="priceofguest">
				            	 {{#if giahientai}}
				            	<a href="#">{{nguoigiugia}}</a>:{{number_format giahientai}} đ
				            {{/if}}	</div>	
				            <div class="timer">
				                <table align="center">
				                    <tbody>
				                        <tr>
				                            <td><img src="imgs/icons/timer.png"></td>
				                            <td class="countdown" value="{{thgiankt}}"></td>
				                             <td class="begincountdown" value="{{thgianbd}}"></td>
				                        </tr>
				                    </tbody>
				                </table>
				            </div>
				            <div class="pull-right">
				                <a href="{{maphien}}" class="btn btn-danger btn-sm" role="button">Đặt giá</a>
				            </div>
				            <div class="pricetext">{{number_format giahientai}} đ</div>
				        </div>
				    </div>
				</div>
				{{/each}}

</div>

{{#section 'js'}}

	<script src="/assests/js/home.js" type="text/javascript" charset="utf-8"></script>
	
<script src="/assests/js/search.js" type="text/javascript" charset="utf-8"></script>
<script>
	$('#pageValue').on('click', function() {
		var pageValue = $('#pageValue').attr('val');
     var url;
     if (document.location.href.includes('page')) {
         url = window.location.href.replace(/(page=).*?(&)/, '$1' + pageValue + '$2');
     } else {

         url = window.location.href + "&page=" + pageValue + '&';
     };
	 console.log(url);
     document.location = url;
 });
 $('#pagePre').on('click', function() {
		var pageValue = getUrlParameter('page') - 1;
     var url;
     if (document.location.href.includes('page')) {
         url = window.location.href.replace(/(page=).*?(&)/, '$1' + pageValue + '$2');
     } else {

         url = window.location.href + "&page=" + pageValue + '&';
     };
	 console.log(url);
     document.location = url;
 });

$('#pageNext').on('click', function() {
		var pageValue = getUrlParameter('page') + 1;
     var url;
     if (document.location.href.includes('page')) {
         url = window.location.href.replace(/(page=).*?(&)/, '$1' + pageValue + '$2');
     } else {

         url = window.location.href + "&page=" + pageValue + '&';
     };
	 console.log(url);
     document.location = url;
 });


var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};
</script>
{{/section}}
