{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assests/css/home.css">
<link rel="stylesheet" type="text/css" href="/assests/css/product.css">
{{/section}}

{{#section 'title'}}
    Trang chủ
{{/section}}




<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="tab nav nav-tabs ">
            <button class="tablinks" onclick="opentab(event,'top5hot')">Top 5 HOT</button>
            <button class="tablinks" onclick="opentab(event,'top5max')">Giá cao nhất</button>
            <button class="tablinks" onclick="opentab(event,'top5end')">Sắp kết thúc</button>
    </div>
    <div class="row">
    	<div id="top5hot" class="tabcontent" style="display: block;">
	    	<div id="products">
				{{#each top5hot}}
				<div class="col-md-3">
				    <div class="thumbnail">
				        <a href="{{maphien}};{{masp}}">
				            <img src="{{urlhinhanh}}" alt="..." class="img-responsive">
				        </a>
				        <div class="productprice">
				            <div class="producttitle">{{tensp}}</div>
				            <div class="guestnumber">Bids: {{soluotdau}}</div>
				            <div class="priceofguest">

				            	 {{#if giahientai}}
				            	<a href="#">{{nguoigiugia}}</a>:{{number_format giahientai}} đ
				            {{/if}}	
				            	</div>	
				            	
				            <div class="timer">
				                <table align="center">
				                    <tbody>
				                        <tr>
				                            <td><img src="imgs/icons/timer.png"></td>
				                            <td class="countdown" value="{{thgiankt}}"></td>
				                        </tr>
				                    </tbody>
				                </table>
				            </div>
				            <div class="pull-right">
				                <a href="{{maphien}}" class="btn btn-danger btn-sm" role="button">Đặt giá</a>
				            </div>
				            <div class="pricetext">{{number_format giahientai}} đ</div>
				        </div>
				    </div>
				</div>
				{{/each}}
			</div>
	    </div>
	    <div id="top5max" class="tabcontent">
	        <div id="products">
				{{#each top5max}}
					<div class="col-md-3">
					    <div class="thumbnail">
					        <a href="{{maphien}};{{masp}}">
					            <img src="{{urlhinhanh}}" alt="..." class="img-responsive">
					        </a>
					        <div class="productprice">
					            <div class="producttitle">{{tensp}}</div>
					            <div class="guestnumber">Bids: {{soluotdau}}</div>
					            <div class="priceofguest">
					            	 {{#if giahientai}}
				            	<a href="#">{{nguoigiugia}}</a>:{{number_format giahientai}} đ
				            {{/if}}	</div>	
					            <div class="timer">
					                <table align="center">
					                    <tbody>
					                        <tr>
					                            <td><img src="imgs/icons/timer.png"></td>
					                            <td class="countdown" value="{{thgiankt}}"></td>
					                        </tr>
					                    </tbody>
					                </table>
					            </div>
					            <div class="pull-right">
					                <a href="{{maphien}}" class="btn btn-danger btn-sm" role="button">Đặt giá</a>
					            </div>
					            <div class="pricetext">{{number_format giahientai}} đ</div>
					        </div>
					    </div>
					</div>
					{{/each}}
				</div>
	        </div>
	    <div id="top5end" class="tabcontent">
	    	<div id="products">
				{{#each top5end}}
				<div class="col-md-3">
				    <div class="thumbnail">
				        <a href="{{maphien}};{{masp}}">
				            <img src="{{urlhinhanh}}" alt="..." class="img-responsive">
				        </a>
				        <div class="productprice">
				            <div class="producttitle">{{tensp}}</div>
				            <div class="guestnumber">Bids: {{soluotdau}}</div>
				            <div class="priceofguest">
				            	 {{#if giahientai}}
				            	<a href="#">{{nguoigiugia}}</a>:{{number_format giahientai}} đ
				            {{/if}}	</div>	
				            <div class="timer">
				                <table align="center">
				                    <tbody>
				                        <tr>
				                            <td><img src="imgs/icons/timer.png"></td>
				                            <td class="countdown" value="{{thgiankt}}"></td>
				                        </tr>
				                    </tbody>
				                </table>
				            </div>
				            <div class="pull-right">
				                <a href="{{maphien}}" class="btn btn-danger btn-sm" role="button">Đặt giá</a>
				            </div>
				            <div class="pricetext">{{number_format giahientai}} đ</div>
				        </div>
				    </div>
				</div>
				{{/each}}
			</div>
	    </div>
    </div>
	</div>
	<div class="col-md-1"></div>
</div>
{{#section 'js'}}

	<script src="/assests/js/home.js" type="text/javascript" charset="utf-8"></script>
	
{{/section}}

          
    


